PATH_add ../../

export ECD_PROJECT_NAME="ec-docker/hakyber-ches23"
export ECD_PROJECT_PATH="$(pwd)"

export ECD_DOCKERFILE_NAME="Dockerfile"
export ECD_BUILD_CTX="$ECD_PROJECT_PATH"
export ECD_IMAGE_NAME="hakyber-ches23"

export ECD_CONTAINER_NAME="hakyber-ches23-runner1"
export ECD_MOUNT_PATH="$ECD_PROJECT_PATH/"

