PATH_add ../../

export ECD_PROJECT_NAME="example_setups/easycrypt-main"
export ECD_PROJECT_PATH="$(pwd -P)"

export ECD_DOCKERFILE_NAME="Dockerfile"
export ECD_BUILD_CTX="$ECD_PROJECT_PATH"
export ECD_IMAGE_NAME="easycrypt-main"

export ECD_CONTAINER_NAME="easycrypt-main-runner1"
export ECD_MOUNT_PATH="$ECD_PROJECT_PATH/"

